.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}


/* BEGIN - Index page */
/*div.class-glance{
	margin-top:25px;
}
*/div.class-glance ul{
	margin-top:15px;
}
section.index ul{
	margin-top: 20px;
}
section.index h3{
	margin-top: 30px;
}
ul.media-list{
	margin-left: 0;
}
/* END - Index page */



/* BEGIN - Class dates */
.date-container{
	text-align: center;
}
.date {
	width: 64px;
	border: solid 1px #ccc;
	padding:5px;
	background: #fff;
}
.date p {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 32px;
	line-height: 1;
	text-align: center;
}
.date p span, .date p strong {
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	color: rgba(51, 51, 51, 0.6);
}
.date p strong{
	font-weight: 700;
	font-size: 20px;
}

/* END - Class dates */

/* BEGIN - 401 page style */
section.login{
	text-align: center;
}

