  <li class="media">
    <div class="pull-left date-container">
      <div class="date">
        <p>
          <strong>{{meeting.date|strftime('%b')}}</strong>
          {{meeting.date|strftime('%d')}}
          <span>{{meeting.date|strftime('%a')}}</span>
        </p>
      </div>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{meeting.title}}</h4>
      <p>
        
            12-4pm. Co-hosted with the Center for Business and the Environment at Yale,
            this Start Something Intensive is a special, day-long workshop
            on the fundamentals of entrepreneurship, encompassing the topics covered
            in "Ideation," "Lean Startup" and "Minimum Viable Products."  This workshop
            is for students who want a "crash course" in entrepreneurship!  Space is
            limited and by application.  Apply by Nov. 2nd at 11:59pm.
        
      </p>
    </div>
  </li>