{% extends 'layout.server.view.html' %}

{% block content %}
  {% markdown %}

## Overview
Software is a ubiquitous component of the increasingly technology-driven
economy. Or, "*Software is eating the world*" in the words of Marc
Andreessen. Students in this course will learn 1) management of the
software development lifecycle and 2) basic technology skills for
creating modern mobile-friendly web applications. The management
techniques will include hiring technical teams as well as planning,
implementing, and maintaining software projects. We will focus on
"agile" methods for software development, using these methods to
develop a mobile web application in teams. The course will build a
foundational understanding of version control, databases, and
programming using HTML, JavaScript, & CSS. Some experience programming
would be beneficial, though not necessary for the motivated student.
The course is most appropriate for students who will have leadership
roles in industries being disrupted by technology, or launching new
ventures with a software or web component.


In the spring of 2015, the course will comedy roughly 70 students.
Roughly 40 spots will be reserved for students enrolled in school
of management. These students may be on the course using the SOM
bidding system. The remaining spots in the courts are open to the
rest of University, Including your college. Deal college students
may shop the course. Officially registering Will require form that
is signed by your dean and Kyle Johnson. These forms are available
from Hannah Garman in L400 Evans Hall.

## Course Philosophy

In this course you will learn how to manage teams developing software.
You also learn how a modern web applications constructed. This is
a challenging

* **You will actually write code**. If you're going to manage developer,
you need to understand what it is like to write code. You need to
speak their language, understand their struggles, and understand
some computer sciences basics.

* **You will use modern best-practices software development**.
There are many ways in which one can organize
software development teams. We will teach you “scrum”, very popular
take on agile software development methods. If you go on to be a
product manager at a major technology company—google, Apple,
Microsoft, Etc.—You will most likely employ some variant of scrum.

* **You will use a modern technology stack, working on both client
and server side**.
On the client side we will use web technologies
including HTML5, CSS3, and JavaScript. Delivering software via the
web is a common choice because browsers are ubiquitous: they exist
on every phone, tablet, laptop, and computer. On the server side
will use Node.js. Node is “lightweight and efficient, perfect for
data-intensive real-time applications that run across distributed
devices.”

These are bold goals and challenging to accomplish the brief time
allotted to us. Our greatest concern is that the technology component
will be a barrier for some students. To ensure that this is not the
case, we recorded numerous videos in which the instructors show how
to complete the class project. In these videos, we discuss the
different ways in which project goals can be achieved, explicitly
show how to write the code you need, and how to use the different
services we are employing. In this class you will get real experience
with real modern web technologies. That experience should be
pleasurable, hands-on, and minimally frustrating.

## Assignments

The class assignments partition into two sets: skill building
assignments that are completed individually, and a class project
that is completed in a small team employing your new technical and
management skills.

In the skill building homework assignments, you will develop an
understanding of HTML, CSS, JavaScript, and git. You will also
familiarize yourself with various services that we will use during
the semester including GitHub, Heroku, and Cloud9.  These assignments
will be completed individually and will be submitted through the
class website. The skill building assignments are HW1A, HW1B, and
HW2.

For the class project, you will be assembled into teams based on
your performance in the skill building section of the course. In
particular, the teams will be assembled in order to ensure that
development talent is equitably distributed. You will work together
on a class project: a web application for posting events and RSVPing
for those events, similar to Eventbrite.  The class project is
divided into separate scrum “sprints”, each one week long. In each
sprint there is a product manager and the rest of the team will act
as developers. Each sprint will have a different project manager,
who is responsible for writing the progress report. The developers
are responsible for writing code. The project will be evaluated in
two ways. First, the management of the project will be graded based
on the sprint progress reports. Second, the technical progress of
the project will be measured an automated fashion: software written
by the instructors will, every day, test the behavior of your
application to see what fraction of the specifications have been
completed. See the project description for more details on grading.

## Lectures

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

   {% endmarkdown %}
{% endblock %}
