{% extends 'layout.server.view.html' %}

{% block bodyClasses %}assignment{% endblock %}


{% block content %}
  <section class="row" id="assignment-header">
    <p class="assignment-slug">
      {{assignment.slug|upper}}:
    </p>
    <h1 class="assignment-title">
      {{assignment.title}}
    </h1>
    {%- if assignment.subtitle %}
      <p class="assignment-subtitle">
        ({{assignment.subtitle}})
      </p>
    {% endif %}
    <hr>
  </section>

  <section class="row">
    <h3>
      Due
    </h3>
    <p>
      The assignment must be submitted before 
      class on {{assignment.due_date|formatDate('dddd, MMMM Do')}} at {{assignment.due_date|formatDate('h:mm a')}}.
      See below for submission guidelines.
    </p>
    <h3>
      Goal
    </h3>
    <p>
      {{assignment.goal}}
    </p>
    <p>
      {{assignment.content | markdown | safe}}
    </p>
  </section>
  <section class="row submit">
    <div class="col-md-12">
      <a class="btn btn-success btn-lg" href="/assignments/{{assignment.slug}}/submit">
        <i class="fa fa-check-square-o fa-lg"></i>
        Submit {{assignment.slug|upper}}
      </a>
    </div>
  </section>
  <hr>
  {% if assignment.videos %}
  <section class="row">
    <h3>Video tutorials for {{assignment.slug|upper}}</h3>
    {% for video in assignment.videos %}
      <div class="media col-md-6">
        <a class="pull-left youtube" href="https://www.youtube.com/watch?v={{video.youtube_key}}">
          <img class="media-object youtube" alt="{{video.title}}" src="http://img.youtube.com/vi/{{video.youtube_key}}/1.jpg">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="https://www.youtube.com/watch?v={{video.youtube_key}}">{{video.title}}</a></h4>
          {{ video.description }}
        </div>
      </div>
    {% endfor %}
  </section>
  {% endif %}
{% endblock %}