{% extends 'layout.server.view.html' %}

{% block content %}
	<section>
    <div class="col-md-8">
      <h2>About the course</h2>
      <p>
        Software is a ubiquitous component of the increasingly technology-driven economy: “Software is eating the world” in the words of Marc Andreessen. Students in this course will learn 1) management of the software development lifecycle and 2) basic technology skills for creating modern mobile-friendly web applications. The management techniques will include hiring technical teams as well as planning, implementing, and maintaining software projects. We will focus on "agile" methods for software development, using these methods to develop a mobile web application in teams. The course will build a foundational understanding of version control, databases, and programming using HTML, JavaScript, & CSS. Some experience programming would be beneficial, though not necessary for the motivated student. The course is most appropriate for students who will have leadership roles in industries being disrupted by technology, or launching new ventures with a software or web component.
      </p>
    </div>
    <div class="col-md-4">
      <h3>Course at a Glance</h3>
      <ul class="fa-ul">
        <li>
          <i class="fa-li fa fa-graduation-cap"></i>
          2 Units (Spring-1 half semester course)
        </li>
        <li>
          <i class="fa-li fa fa-clock-o"></i>
          Meets Mondays &amp; Wednesdays at 1-2:20pm
          in 4410 <a href="http://map.yale.edu/map/#building:EVANS">Evans Hall</a>
        </li>
        <li>
          <i class="fa-li fa fa-calendar"></i>
          Runs from Monday Jan. 2 to Monday Feb. 23</li>
        <li>
          <i class="fa-li fa fa-sign-in"></i>
          Roughly 70 spots, 30 open to non-SOM students
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
