{% extends 'layout.server.view.html' %}

{% block content %}
  <section>
      <h3>Schedule</h3>
      <ul>
        <li>Monday, 1/12: Introduction to Management of Software Development</li>
        <li>Wednesday, 1/14: Designing and Design</li>
        <li>Friday, 1/16: Collaboration and Version Control</li>
        <li>Wednesday, 1/21: Project and Feature Prioritization</li>
        <li>Monday, 1/26: Introduction to Server-side Application Development and JavaScript</li>
        <li>Wednesday, 1/28: From Idea to Running Code and Beyond the SDLC</li>
        <li>Monday, 2/2: Developing and Communicating Software Requirements</li>
        <li>Wednesday, 2/4: Reporting During Development</li>
        <li>Monday, 2/9: Choosing Software Development Teams</li>
        <li>Wednesday, 2/11: Web Application Architectures</li>
        <li>Monday, 2/16: Building and Motivating Development Teams</li>
        <li>Wednesday, 2/18: Tools for Your Team</li>
        <li>Monday, 2/23: After Your Application Launches</li>
      </ul>

  </section>
  <section>
    <ul class="media-list">
  
  <li class="media">
    <div class="pull-left date-container">
      <div class="date">
        <p>07<span>Nov</span><span>wed</span></p>
      </div>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Start Something @ CBEY: Intensive</h4>
      <p>
        
            12-4pm. Co-hosted with the Center for Business and the Environment at Yale,
            this Start Something Intensive is a special, day-long workshop
            on the fundamentals of entrepreneurship, encompassing the topics covered
            in "Ideation," "Lean Startup" and "Minimum Viable Products."  This workshop
            is for students who want a "crash course" in entrepreneurship!  Space is
            limited and by application.  Apply by Nov. 2nd at 11:59pm.
        
      </p>
    </div>
  </li>
  
  
  
  
  
  
  
  
  
  
  
  
</ul>
  </section>
{% endblock %}
